.formulario-basico{
    position: relative;
    width: 100%;
    margin: 0px;
}
.form-group{
    position: relative;
    width: 100%;
    margin-bottom: 15px;   
}
.form-group label{
    display: block;
    font-family: 'Inter';
    font-size: 1rem;
    color: #cbd5e1;
    margin-bottom: 5px;
}
.form-group input[type=password],
.form-group input[type=text]{
    background-color: #1c1d27;
    border: #3b3f54 solid 2px;
    color: #ffffff;
    font-size: 1rem;
    height: 45px;
    border-radius: 8px;
    padding: 15px;

    box-shadow: 0px 0px 0px 0px rgba(51,209,238,0);

    transition: border 0.25s, box-shadow 0.25s;
}
.form-group input[type=text]:focus,
.form-group input[type=password]:focus{
    box-shadow: 0px 0px 10px 0px rgba(51,209,238,0.75);
    border: #33d1ee solid 2px;
}