#modal{
    position: fixed;
    width: 100%;
    height: 100%;   
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.3); 
    display: flex;
    align-items: center;
    justify-content: center;
}
#modal-box{
    position: relative;
    height: auto;
    border-radius: 6px;
    border: #334155 solid 2px;
    overflow: hidden;

    transition: filter 0.5s ease-out, transform 0.5s ease-out;
}

.modal-box-normal{
    width: 450px;
}
.modal-box-big{
    width: 800px;
}
.modal-box-full{
    width: 100%;
    width: calc(100% - 30px);
    width: -moz-calc(100% - 30px);
}
.modal-content,.modal-loading{
    width: 100%;
    background-color: #171e2f;
}
.modal-icon{
    width: 70px;
    height: 70px;
    margin: 0px auto;
}
.modal-success .modal-icon i,
.modal-success .modal-title h2{color: #22c55e;}
.modal-warning .modal-icon i,
.modal-warning .modal-title h2{color: #ef4444;}
.modal-neutral .modal-icon i,
.modal-neutral .modal-title h2{color: #6b7280;}

.modal-icon i{
    font-size: 3rem;
    text-align: center;
}

.modal-title h2{
    font-weight: 700;
    text-align: center;
    font-size: 1.2rem;
    text-align: center;
}
.modal-text p,
.modal-loading > p{
    font-weight: 500;
    color: #ffffff;
    font-size: 1rem;
    text-align: center;
}
.modal-footer{
    width: 100%;
    border-top: #334155 solid 2px;
    background-color: #1e293b;
}

.modal-loading{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.modal-loading > i{
    font-size: 3rem;
    color: #6b7280;
    margin-bottom: 30px;
    animation: animacion-button-loader 1s infinite linear;
}

.modal-section-hide{
    display: none !important;
}
.modal-section-show{
    display: flex !important;
}

.modal-off{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s;
}
.modal-off #modal-box{
    transform: scale(1.2);
    filter: blur(15px);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
}
.modal-on{
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s;
}
.modal-on #modal-box{
    transform: scale(1);
    filter: blur(0px);
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,1);
}