.api-section-container{
    position: relative;
    width: 100%;
    border:#334155 solid 1px;
    overflow: hidden;
    border-radius: 8px;
}
.api-section-body{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}
.api-section-logo{
    width: 100px;
    height: auto;
}
.api-section-logo > div{
    width: 70px;
    height: 70px;
    border-radius: 6px;
    background-color: rgba(255,255,255,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}
.api-section-logo > div img{
    width: 50px;
}
.api-section-logo > div span{
    width: 50px;
    font-family: 'Inter';
    font-size: 1.5rem;
    font-weight: 900;
    color: #ffffff;
    text-align: center;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}
.api-section-information{
    display: block;
    width: 100%;
    width: calc(100% - 100px);
    width: -moz-calc(100% - 100px);
}
.api-section-information h2{
    font-size: 1.15rem;
    font-weight: 700;
    color: #ffffff;
    text-transform: capitalize;
}
.api-section-information p{
    font-size: 1rem;
    color: #9ca3af;
}
.api-section-password{
    max-width: 60%;
}
.api-section-text{
    max-width: 60%;
}

.api-section-footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: #334155 solid 2px;
    background-color: #1e293b;
}

.api-section-footer-status{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    width: calc(100% - 250px);
    width: -moz-calc(100% - 250px);
}

.api-section-footer-status p{
    font-size: 1rem;
    color: #6b7280;
}
.api-section-footer-status i{
    font-size: 1.3rem;
    color: #6b7280;
    margin-right: 10px;
}
.api-section-footer-status-done i,.api-section-footer-status-done p{
    color: #22c55e;
}
.api-section-footer-status-warning i,.api-section-footer-status-warning p{
    color: #ef4444;
}
.api-section-footer-button{
    position: relative;
    width: 240px;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 10px;
}
.api-section-button{
    width: auto !important;
}

@media (max-width: 768px) {
    .api-section-logo{
        width: 100%;
        margin-bottom: 15px;
    }

    .api-section-logo > div{
        width: 50px;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
    }
    .api-section-logo > div img{
        width: 40px;
    }
    .api-section-logo > div span{
        width: 40px;
        font-size: 1.2rem;
    }
    .api-section-information{
        width: 100%;
    }
    .api-section-password{
        max-width: initial;
    }

    .api-section-footer{
        flex-direction: column;
        align-items: flex-end;
    }
    .api-section-footer-status{
        width: 100%;
        margin-bottom: 15px;
        justify-content: flex-end;
    }
    .api-section-footer-button{
        margin-left: 0px;
    }
}